[workspace]
resolver = "2"
members = [
    "prototype",
    "loan-receiver-standard",
    "examples/simple",
]

[profile.release-with-logs]
inherits = "release"
debug-assertions = true

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = false
panic = "abort"
codegen-units = 1
lto = true


[workspace.dependencies.soroban-sdk]
version = "0.3.2"
git = "https://github.com/stellar/rs-soroban-sdk"
rev = "e2ecbee"

[workspace.dependencies.soroban-auth]
version = "0.3.2"
git = "https://github.com/stellar/rs-soroban-sdk"
rev = "e2ecbee"
